<form action="" method="post">
  <input type="text" style="position:absolute;top:10%;left:10%;width: 80%;height: 5%;" id="id" name="id2" placeholder="  Id">
  <br><br>
  <input type="password" style="position:absolute;top:20%;left:10%;width: 80%;height: 5%;" id="pass" name="pass1" placeholder="  Password">
  <br><br>
  <input type="submit" style="position:absolute;top:30%;left:5%;width:10%;height: 5%;"value="Submit" onclick="">
  <input type="submit" style="position:absolute;top:30%;left:85%; width:10%; height: 5%;"value="Sign Up" onclick="">
</form>